<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Oslo</ion-card-subtitle>
    <ion-card-title>Norway</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Keep close to Nature's heart... and break clear away, once in awhile,
    and climb a mountain or spend a week in the woods. Wash your spirit clean.
    <br>
    <ion-button (click)="gotoNorwayPage()">Norway</ion-button>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle >Lagos</ion-card-subtitle>
    <ion-card-title>Nigeria</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Keep close to Nature's heart... and break clear away, once in awhile,
    and climb a mountain or spend a week in the woods. Wash your spirit clean.
    <br>
    <ion-button (click)="gotoNigeriaPage()"  >Nigeria</ion-button>
  </ion-card-content>
  
  
</ion-card>
</ion-content>

